<!--<div id="googleBtn"></div>
<div id="gSignInWrapper">
    <span class="label">Sign in with:</span>
    <div id="customBtn" class="customGPlusSignIn">
      <span class="icon"></span>
      <span class="buttonText">Sign in with Google</span>
    </div>
  </div>
  <div id="gSignInWrapper2">
    <div id="customBtn2" class="customGPlusSignIn">
      <span class="icon2"></span>
    </div>
  </div>-->
  <div class='g-btn-wrapper' id="gSignInWrapper2">
  <button id='customBtn2' class="loginBtn loginBtn--google">
    Login with Google
  </button>
  </div>
  <div id="name"></div>
