<!--button id="customBtn" (click)='checkLoginState();'>
  <span class="icon"></span>
  <span class="buttonText">Sign in with Facebook</span>
</button>

<div id="customBtn3" (click)='checkLoginState();'>
  <span class="icon2"></span>
</div>
<br>
<div (click)='checkLoginState();' class="fb-login-button" data-width="191" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>-->
<div class='fb-btn-wrapper'>
<button id="customBtn2" class="loginBtn loginBtn--facebook" (click)='checkLoginState();'>
  Login with Facebook
</button>
<div id='fb-status-login'></div>
</div>