.panel{
    margin: 20% auto;

}

.panel-body{
    height:200px;
}

.panel-heading{
    text-align: center;
    color:rgb(252, 120, 120);
    background-color: white;
    font-weight: bold;
    border: none;
}
.panel-body > .text{
    text-align: center;
    margin: 20px 0;
    color:rgb(252, 120, 120);
    font-weight: bold;
    display: none;
}

.panel-body > .button1{
    margin-top: 15px;
   
}

.panel-body > .button2{
    margin-bottom: 15px;
}

.container{
        width: 100%;
 
}