<div id="mySidenav" class="sidenav" #mySidenav>
		<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a> 
		<a routerLink='home' routerLinkActive="active" (click)="closeNav()">Home</a>

		<a *ngFor='let compTree of componentTrees' routerLinkActive="active" routerLink='{{compTree?.component.route}}' (click)="closeNav()">{{compTree?.component.name}}</a>
	  </div>
<div id='app-main' #appMain >


	<div class="app-header">
			<a href="javascript:;" (click)="openNav()"><span style="font-size:30px;cursor:pointer" >&#9776;</span></a>
			<a href="javascript:;" class="app-logo">Arpan - {{initiative?.name}}</a>
		  
			<div class="app-header-right">
					<a *ngIf='!isLoggedIn' href="#" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
					<p *ngIf='isLoggedIn' ><span class="glyphicon glyphicon-user"></span> &nbsp;{{first_name}}</p>
					<a href="javascript:;" *ngIf='isLoggedIn' (click)='signOut()'><span class="glyphicon glyphicon-log-out"></span> LogOut</a>

			</div>
		  </div>
<div style="width:100%;height:100%">
<router-outlet (click)="closeNav()"></router-outlet>
</div>
<div class="footer">
		<div class="footertxtcolor">
			<div class="footertxtpos">Copyright
				&copy; Arpan the Joy of Giving.</div>
		</div>
    </div>
    </div>